{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "ie": "11"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
