@import "../../style/color";
@import "../../style/mixins";

.list {
    @include no-list-style();
}

.list-element {
    height: 40px;
    border-bottom: 1px solid $grey;
    transition: background-color .2s;

    &:hover {
        background-color: $blue;
    }

    &:first-of-type {
        border-top: 1px solid $grey;
    }
}

.add-todo-btn {
    width: 100%;
    height: 40px;
    font-size: 24px;
    color: $grey;
    transition: background-color .2s, color .2s;
    @include no-button-style();

    &:hover {
        background-color: $blue;
        color: #000;
    }
}
