@import "../../style/color";
@import "../../style/mixins";

$messageHeight: 2.5em;

.list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include no-list-style();
    @include fadeIn();
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    min-height: $messageHeight;
    margin-right: auto;
    margin-left: auto;
    color: $white;
}

.success,
.error,
.warning {
    border-width: 1px;
    border-style: solid;
}

.success {
    background-color: $green;
    border-color: darken($green, 10%);
}

.error {
    background-color: $red;
    border-color: darken($red, 10%);
}

.warning {
    background-color: $orange;
    border-color: darken($orange, 10%);
}

.button {
    width: 40px;
    height: $messageHeight;
    color: white;
    transition: background-color .2s;
    @include no-button-style();

    &:hover {
        background-color: rgba($white, .2);
    }
}
